<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Nome visualizzato sul Mac -->
	<key>CFBundleName</key>
	<string>Ogni tipo di insegnamento Mac</string>

	<key>CFBundleIdentifier</key>
	<string>com.torla.ogntiipodinsegnamento</string>

	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>

	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>

	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>

	<key>CFBundlePackageType</key>
	<string>APPL</string>

	<key>CFBundleIconFile</key>
	<string>AppIcon</string>

	<!-- Versione minima macOS supportata -->
	<key>LSMinimumSystemVersion</key>
	<string>10.14</string>

	<!-- Impedisce che l'app appaia nel dock quando è in background -->
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>

	<!-- Se l'app usa la fotocamera -->
	<!-- <key>NSCameraUsageDescription</key>
	<string>Questa app usa la fotocamera per...</string> -->

	<!-- Se l'app usa il microfono -->
	<!-- <key>NSMicrophoneUsageDescription</key>
	<string>Questa app usa il microfono per...</string> -->

	<!-- Se l'app accede ai file dell'utente -->
	<!-- <key>NSDocumentsFolderUsageDescription</key>
	<string>Questa app accede ai documenti per...</string> -->
</dict>
</plist>
